<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body{
            background-color: rgba(95, 158, 160,0.6);
            padding: 30px 0px;
        }
         .header{
            font-family: cursive;
            color: blanchedalmond;
            text-align: center;
        
        }
        td,th{
            padding: 10px;
        }
        table{
            border:2px solid white;
        }
    </style>
</head>
<body>
    <h1 class="header">View Student By Standard/Divison</h1>
    <table cellpadding="0" cellspacing="0" border="1" align="center">
        <tr>
            <th>Student name</th>
            <th>Student Email</th>
            <th>Student Contact</th>
        </tr>
    
        <%result.forEach(function(data){%>
            <tr>
                <td><%= data.name %></td>
                <td><%= data.email %></td>
                <td><%= data.contact %></td>
            </tr>
          <%});%>  
          <tr>
            <td colspan="7" align="center">
                <a href="/viewStdDiv_student" style="display: block;">Return Page</a>
            </td>
        </tr>
    </table>
</body>
</html>