<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
          .header{
            font-family: cursive;
            color: blanchedalmond;
            text-align: center;
        
        }
        body{
            background-color: rgba(95, 158, 160,0.6);
            padding: 100px 0px;
        }
        .flex{
            display: flex;
            justify-content:center;
        }
        a{
            padding: 10px 20px;
        }
        button{
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <h1 class="header">Staff</h1>
    <div class="flex">
        <a href="/viewStaff_student"><button>View Student</button></a>
        <a href="/view_result"><button>View Result</button></a>
        <a href="/view_resultStudent"><button>View Result By Student</button></a>
        <a href="/manage_result"><button>Manage Result</button></a>




        <a href="/logout"><button>LOG OUT</button></a>
    </div>
</body>
</html>