<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body{
            background-color: rgba(95, 158, 160,0.6);
            padding: 50px 0px;
        }
         .header{
            font-family: cursive;
            color: blanchedalmond;
            text-align: center;
        }
        td,th{
            padding: 10px;
        }
        table{
            border:2px solid white;
        }
        input{
            padding: 5px 10px;
        }
        input:focus-visible {
            outline: none;
        }
        select{
            padding:5px 10px ;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        <h1 class="header">View Top #3</h1>
        <table align="center">
            <tr>
                <td>Select Standard:=</td>
                <td>
                    <select name="std"  required>
                        <option value="">select Standard</option>
                        <%standards.forEach(function(data){%>
                            <option value="<%=data.id%>"><%=data.std%></option>
                        <%});%>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="View Top #3"></td>
            </tr>
            <tr>
                <td colspan="6" align="center">
                    <a href="/school" style="display: block;">Return Page</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>




