<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <form method="post">
      <span>Name:</span>
      <input type="text" name="name">
      <span>Email</span>
      <input type="text" name="email">
      <span>Password</span>
      <input type="text" name="password">
      <input type="submit"> 
   </form>
  </body>
</html>
