<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
   <form method="post" enctype="multipart/form-data" action="/">
      <span>Name:</span>
      <input type="text" name="name">
      <span>Email</span>
      <input type="email" name="email">
      <span>Password</span>
      <input type="password" name="password">
      <span>Image</span>
      <input type="file" name="image">
      <input type="submit"> 
   </form>
  </body>
</html>
