<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
          body{
            background-color: rgba(95, 158, 160,0.6);
            padding: 100px 0px;
        }
         .header{
            font-family: cursive;
            color: blanchedalmond;
            text-align: center;
        
        }
        
        button{
            padding: 10px 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
            color:black;
        }
        .flex{
            display: flex;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>
    <h1 class="header">admin panel</h1>
 <div class="flex">
    <a href="/add_staff"><button type="submit">Add staff</button></a>
    <a href="/view_staff"><button type="submit">View staff</button></a>
    <a href="/add_task"><button type="submit">Add Task</button></a>
    <a href="/view_task"><button type="submit">View Task</button></a>
    <a href="/manage_task"><button type="submit">Manage Task</button></a>
    <a href="/status_task"><button type="submit">Status</button></a>
    <a href="/logout"><button>Log Out</button></a>
 </div>



    
</body>
</html>