<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
          background-color: rgba(95, 158, 160,0.6);
          padding: 100px 0px;
      }
       .header{
          font-family: cursive;
          color: blanchedalmond;
          text-align: center;
      
      }
      
      button{
          padding: 10px 20px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: bold;
          color:black;
      }
      .flex{
          display: flex;
          justify-content: space-evenly;
      }
  </style>
</head>
<body>
    <h1 class="header">Staff Panel</h1>
    <div class="flex">
        <a href="/dashboard"><button>Dashboard</button></a>
    <a href="/accept_task"><button>Accept task</button></a>
    <a href="/Decline_task"><button>Decline task</button></a>
    <a href="/assign_task"><button>Assign task</button></a>
    <a href="/compeleted_task"><button>Compeleted task</button></a>
    <a href="/panding_task"><button>Panding task</button></a>
    <a href="/logout"><button>Log Out</button></a> 
    </div>
</body>
</html>